/* padding is included in width/height */
* {
    box-sizing: border-box;
}

body {
  font-family: "Source Code Pro", "Menlo", "Courier New", monospace;
  background: black;
  color: white;
}

* {
    font-family: "Source Code Pro", "Menlo", "Courier New", monospace;
}

textarea {
   background: transparent;
  color: white;
  border: none;
  width: 100%;
  flex: 1;
  font-size: 60%;
}

input {
    border: 1px solid gray;
    line-height: 1.5;
    /*    height: 20px;*/
    padding: 3px 6px;
}

.text {
  background: black;
  color: white;
}

.eval-button {
  background: #555;
  color: white;
  padding: 5px 8px;
  line-height: 1.5;
  border: none;
  margin-bottom: 0.5em;
  flex: 0 1 auto;
}

.feedback, .editor {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    flex: 1 1 auto;
}

.CodeMirror {
    flex: 1 1 auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.CodeMirror-scroll {
    flex: 1 1 auto;
}

.editor .sidebar {
    text-align: right;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    padding: 5px;
}

.content {
    flex: 1 1 auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

#password-dialog {
    z-index: 0;
    display: none;
}

#password-dialog.active {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    background-color: black;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

#password-dialog form {
    flex: 0 1 auto;
    /* height: 100px; */
    /* width: 200px; */
    /* padding-top: 50%; */
    margin: auto;
    /* margin-top: -50px; */
}

#global {
    display: none;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}


#global.active {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

canvas {
background: transparent;
position: absolute;
left: 0px;
top: 0px;
bottom: 0;
right: 0;
}
